html {
    border: 0px solid blue;
    overflow:auto;
}
body {
    border: 0px solid yellow;
    overflow:auto;
}

table {
    border: 0px solid;
    float:left;
}
		td {
			padding: 1em;
			border: 1px solid silver;
			background-color:#eeeeee;
		}

#content {
    border: 0px solid blue;
    overflow:auto;
    min-width:410px;
    height:98%;
    width:80%;
}

.main {
    border: 0px solid yellow;
    overflow:auto;
}

.main .fab {
  bottom: 1rem;
  right: 1rem;
  height: 56px;
  padding: 12px;
  position: fixed;
  width: 56px;
  background-color: #3f51b5;
  border-radius: 50%;
  z-index: 1000;
}
.main .fab .icon {
  display: inline-block;
  height: 100%;
  width: 100%;
}
.icon {
  background-repeat: no-repeat;
  background-size: contain;
}
.icon.add {
  background-image: url("/images/add.svg");
}

@media all and (max-width: 825px) {
table {
    float:none;
}
 		tr {
  			display: inline;
  		}
		#content {
		width:100%;
		height:92%;
		}
}
